// 주요 색상
$text-default : #000;
$color-white : #fff;
$color-black : #000;

// 모바일 기준 너비
$breakpoint-m: 768px;
$breakpoint-w: 1024px;
$container-w: 1080px;

// 폰트 두께 - font weight
$font-normal: 400;
$font-bold: 700;

// 텍스트 컬러 공통 - name, text color
$textColors : (
  "white" : $color-white,
  "black" : $color-black,
);