// 주요 색상
$text-default : #fff;
$text-gray : #585a59;
$color-green : #70ff91; 
$color-gray : #212121;
$color-white : #fff;
$color-black : #050505;
$border-gray : #EDF0F4;

// 모바일 기준 너비
$breakpoint-m: 768px;
$breakpoint-w: 1024px;
$container-w: 1080px;

// 폰트 두께 - font weight
$font-normal: 400;
$font-bold: 700;

// 텍스트 컬러 공통 - name, text color
$textColors : (
  "green" : $color-green,
  "gray" : $color-gray,
  "white" : $color-white,
  "text-gray" : $text-gray,
);