@use 'root';
@use 'mixin';

/* ## font start ## */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Regular.woff') format('woff'),
  url('../font/Pretendard-Regular.woff2') format('woff2');
  font-weight: root.$font-normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Bold.woff') format('woff'),
  url('../font/Pretendard-Bold.woff2') format('woff2');
  font-weight: root.$font-bold;
}


@mixin default-font {
  color: root.$text-default;
  letter-spacing: -0.5px;
  font-family: "Pretendard", sans-serif;
  font-size: 13px;
}

html, body {
  @include default-font;
  word-break: break-all;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
 display: none;
}

pre {
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
}

@include mixin.desktop {
  html, body { @include default-font; }
}

/* ## font end ## */

/* ## 텍스트 컬러 공통 start ## */
@each $colorName, $textColor in root.$textColors {
  .color-#{$colorName} {
    color: $textColor;
  }
}
/* ## 텍스트 컬러 공통 end ## */

/* ## button box start ## */
button {@include default-font; @include mixin.default-form;}
/* ## button box end ## */

/* ## 동적 줄바꿈 start ## */
.mob-br {display: block;}
.web-br {display: inline;}

@include mixin.desktop {
  .mob-br {display: inline;}
  .web-br {display: block;}
}
/* ## 동적 줄바꿈 end ## */
