.main-contents {
  position: relative;
}
.main-contents .title-box {
  text-align: center;
}
.main-contents .title-box .desc {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 700;
}
.main-contents .title-box .title {
  font-size: 1.8rem;
  margin: 0.8rem 0 0;
}
.main-contents .line {
  position: relative;
  font-weight: 700;
  display: inline-block;
}
.main-contents .line::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4px;
  opacity: 0.6;
  z-index: -1;
  background: linear-gradient(89deg, #C0EED3 0%, #B6C8EF 32.6%, #fce8cb 65.98%, #f0b1de 100%);
}
.main-contents .pin-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.main-contents .pin-wrap .obj-wrap {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main-contents .pin-wrap .obj-wrap > i {
  display: block;
  width: 5rem;
  position: absolute;
  animation: objMove 0.3s infinite alternate forwards;
}
.main-contents .pin-wrap .obj-wrap > i.obj02 {
  right: 17%;
  top: 38%;
}
.main-contents .pin-wrap .obj-wrap > i.obj03 {
  left: 12%;
  bottom: 33%;
}
.main-contents .pin-wrap .obj-wrap > i.obj04 {
  left: 26%;
  top: 28%;
}
.main-contents .pin-wrap .obj-wrap > i img {
  width: 100%;
}
@keyframes objMove {
  0% {
    transform: translateY(-0.15rem);
  }
  100% {
    transform: translateY(0);
  }
}
.main-contents .pin-wrap .boxs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  overflow: hidden;
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  background: #fff url("../img/bg-mokup.png") 52% 50% no-repeat;
  background-size: 40rem auto;
}
.main-contents .career-wrap {
  overflow: hidden;
  padding: 3rem 1.5rem;
}
.main-contents .career-wrap .title-box {
  margin-bottom: 1rem;
}
.main-contents .career-wrap .btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem 1.5rem 0rem;
}
.main-contents .career-wrap .btn-box > button {
  width: calc(50% - 0.5rem);
  border-radius: 0.8rem;
  font-weight: 700;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.main-contents .career-slide {
  width: 23.5rem;
  height: 19.5rem;
  padding: 2rem 1.5rem 1rem;
}
.main-contents .career-slide .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  background: #fff;
  border: 1px solid rgb(227, 227, 227);
  box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.08) inset;
}
.main-contents .career-slide .inner-box {
  width: 100%;
}
.main-contents .career-slide .inner-box .top {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.main-contents .career-slide .inner-box .content {
  padding: 1.2rem 1.5rem;
  font-size: 1.2rem;
}
.main-contents .career-slide .inner-box .content li {
  padding-left: 1.6rem;
  position: relative;
  margin-bottom: 1.2rem;
}
.main-contents .career-slide .inner-box .content li::before {
  position: absolute;
  content: "";
  width: 1.15rem;
  height: 1.15rem;
  background: url("../img/ico-careerhist.png") 50% 50% no-repeat;
  background-size: 100%;
  left: 0;
  top: -2px;
}
.main-contents .career-slide .inner-box .content li.project > p {
  margin-bottom: 0.8rem;
}
.main-contents .career-slide .inner-box .content li.project::before {
  background-image: url("../img/ico-spark.png");
}
.main-contents .intro-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main-contents .intro-wrap .title-box {
  padding: 3rem 1.5rem 7rem;
}
.main-contents .intro-wrap .circle-wrap {
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.main-contents .intro-wrap .circle-wrap::before {
  position: absolute;
  content: "strength";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-contents .intro-wrap .inner-box {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: transform 1.5s cubic-bezier(0.75, 0, 0.25, 1);
  background: radial-gradient(circle, rgba(184, 207, 255, 0.2) 5%, rgba(238, 217, 255, 0.3) 40%, rgba(198, 255, 211, 0.1));
}
.main-contents .intro-wrap .inner-box .box {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
.main-contents .intro-wrap .inner-box .box .reverse {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1rem;
  font-weight: 700;
  width: 10rem;
  height: 10rem;
  max-width: 17rem;
  transition: transform 1.5s cubic-bezier(0.75, 0, 0.25, 1);
  border-radius: 100%;
  background: #fff url("../img/ico-hifive.png") 50% 30% no-repeat;
  background-size: 5.5rem;
  position: relative;
  padding-bottom: 18%;
  box-shadow: 0 0 2rem rgba(182, 200, 239, 0.7);
  border: 2px solid rgb(182, 200, 239);
}
.main-contents .intro-wrap .inner-box .box.circle02 {
  top: 75%;
  left: 6.66%;
}
.main-contents .intro-wrap .inner-box .box.circle02 .reverse {
  background-image: url("../img/ico-clock.png");
  background-position-x: 45%;
  box-shadow: 0 0 2rem rgba(241, 205, 253, 0.7);
  border: 2px solid rgb(241, 205, 253);
}
.main-contents .intro-wrap .inner-box .box.circle03 {
  top: 75%;
  left: 93%;
}
.main-contents .intro-wrap .inner-box .box.circle03 .reverse {
  background-image: url("../img/ico-solve.png");
  box-shadow: 0 0 2rem rgba(192, 238, 211, 0.6);
  border: 2px solid rgb(192, 238, 211);
}
.main-contents .intro-wrap .points-text {
  padding: 6rem 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: center;
  word-break: keep-all;
}
.main-contents .intro-wrap .points-text .desc {
  margin-top: 0.8rem;
}
.main-contents .box-group {
  padding: 6rem 0;
  text-align: center;
}
.main-contents .box-group .slide-wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  margin-top: -3.5rem;
}
.main-contents .box-group .box-slide {
  overflow: visible;
  display: flex;
  justify-content: center;
  width: 45rem;
}
.main-contents .box-group .box-slide .swiper-slide {
  overflow: visible;
  padding: 0 0.8rem;
  width: 22rem;
}
.main-contents .box-group .box-slide .swiper-slide.swiper-slide-active {
  z-index: 2;
}
.main-contents .box-group .box-slide .box-inner {
  text-align: left;
  padding: 1rem;
  background: #fff;
  border: 2px solid rgba(63, 63, 63, 0.01);
  min-height: 230px;
  border-radius: 1.8rem;
  box-shadow: 0 0 6rem rgba(241, 205, 253, 0.5);
}
.main-contents .box-group .box-slide .box-inner.shadow-type1 {
  box-shadow: 0 0 6rem rgba(192, 238, 211, 0.5);
}
.main-contents .box-group .box-slide .box-inner.shadow-type1 .label-line {
  background: rgb(192, 238, 211);
}
.main-contents .box-group .box-slide .box-inner.shadow-type2 {
  box-shadow: 0 0 6rem rgba(182, 200, 239, 0.5);
}
.main-contents .box-group .box-slide .box-inner.shadow-type2 .label-line {
  background: rgb(182, 200, 239);
}
.main-contents .box-group .box-slide .box-inner .ico {
  display: inline-block;
  width: 6rem;
  margin-top: -0.5rem;
}
.main-contents .box-group .box-slide .box-inner .ico img {
  width: 100%;
}
.main-contents .box-group .box-slide .box-inner .label-line {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 0.95rem;
  border-radius: 100rem;
  font-weight: 700;
  background: rgb(241, 205, 253);
  height: 1.2rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
.main-contents .box-group .box-slide .box-inner .desc {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -1px;
}
.main-contents .box-group .box-list {
  display: none;
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) !important;
  bottom: 1.5rem;
  z-index: 100;
  max-width: 16rem;
  width: 100%;
}
.footer .quick-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 100rem;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.05);
}
.footer .quick-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.footer .quick-list > li img {
  width: 1.65rem;
}

@media screen and (min-width: 768px) {
  .main-contents .title-box .desc {
    font-size: 1.3rem;
  }
  .main-contents .title-box .title {
    font-size: 2.4rem;
    margin: 0.6rem 0 0;
  }
  .main-contents .pin-wrap .boxs {
    font-size: 2.8rem;
  }
  .main-contents .intro-wrap {
    padding: 2.8rem 0 6rem;
  }
  .main-contents .intro-wrap .title-box {
    padding-bottom: 11rem;
  }
  .main-contents .intro-wrap .circle-wrap {
    width: 24rem;
    height: 24rem;
  }
  .main-contents .intro-wrap .circle-wrap::before {
    font-size: 1.5rem;
  }
  .main-contents .intro-wrap .inner-box .box .reverse {
    width: 13.5rem;
    height: 13.5rem;
    max-width: 20rem;
    background-size: 7.5rem;
    font-size: 1.2rem;
  }
  .main-contents .intro-wrap .points-text {
    max-width: 60rem;
    font-size: 1.3rem;
    padding: 7.5rem 1.5rem 2rem;
  }
  .main-contents .intro-wrap .points-text .desc {
    margin-top: 1.2rem;
  }
  .main-contents .intro-wrap .text-wrap {
    padding: 5rem 1.5rem 4rem;
  }
  .main-contents .box-group {
    padding: 2.5rem 0 4rem;
  }
  .main-contents .box-group .slide-wrap {
    padding: 7.5rem 0;
  }
  .main-contents .box-group .box-slide {
    display: none;
  }
  .main-contents .box-group .box-list {
    display: flex;
    padding: 0 2.5rem;
    gap: 1.5rem;
  }
  .main-contents .box-group .box-list .box-inner {
    text-align: left;
    padding: 1.5rem;
    border-radius: 1.8rem;
    max-width: 18.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 6rem rgba(241, 205, 253, 0.5);
  }
  .main-contents .box-group .box-list .box-inner.shadow-type1 {
    box-shadow: 0 0 6rem rgba(192, 238, 211, 0.5);
  }
  .main-contents .box-group .box-list .box-inner.shadow-type1 .label-line {
    background: rgb(192, 238, 211);
  }
  .main-contents .box-group .box-list .box-inner.shadow-type2 {
    box-shadow: 0 0 6rem rgba(182, 200, 239, 0.4);
  }
  .main-contents .box-group .box-list .box-inner.shadow-type2 .label-line {
    background: rgb(182, 200, 239);
  }
  .main-contents .box-group .box-list .box-inner .ico {
    display: inline-block;
    width: 7.5rem;
    margin-top: -1rem;
  }
  .main-contents .box-group .box-list .box-inner .ico img {
    width: 100%;
  }
  .main-contents .box-group .box-list .box-inner .label-line {
    display: inline-block;
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    border-radius: 100rem;
    background: rgb(241, 205, 253);
    height: 1.5rem;
    line-height: 1.5rem;
  }
  .main-contents .box-group .box-list .box-inner .desc {
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .footer {
    max-width: 18.5rem;
  }
  .footer .quick-list {
    padding: 0.5rem 0.8rem;
  }
  .footer .quick-list > li {
    width: 4rem;
    height: 4rem;
  }
  .footer .quick-list > li img {
    width: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-contents {
    background: #f2f2f2;
  }
  .main-contents .inner-wrap {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
    padding: 15px;
  }
  .main-contents .inner-wrap .contents {
    width: calc(100% - 85px);
    height: 100%;
    background: #fff;
    border-radius: 40px;
    overflow-y: scroll;
  }
  .footer {
    position: static;
    transform: none !important;
    width: 70px;
    max-width: none;
    background: #fff;
    border-radius: 100px;
  }
  .footer .quick-list {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
    padding: 15px 0;
    border: 0;
  }
  .footer .quick-list > li {
    width: 55px;
    height: 55px;
    border: none;
    box-shadow: none;
  }
}/*# sourceMappingURL=main.css.map */