@use 'root';
@use 'mixin';

//main
.main-contents {
    position: relative;

    .side-contents {
        display: none;
    }

    .top-slogan {
        padding: 10rem 1.5rem;
        line-height: 1.5;
        text-align: center;
        
        .title {
            font-size: 1.9rem;
        }
    }

    .intro-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6rem 0 0;
        overflow: hidden;

        .circle-wrap {
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            background: root.$color-white;
            border: 1px solid rgba(0,0,0,0.2);
            position: relative;

            &::before {
                position: absolute;
                content: 'strength';
                text-transform: uppercase;
                font-weight: root.$font-bold;
                font-size: 1rem;
                @include mixin.pos-center;
            }
        }

        .inner-box {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            transition: transform 1.5s cubic-bezier(.75,0,.25,1);
            background: radial-gradient(circle, rgba(184, 207, 255, 0.2) 5%, rgba(238, 217, 255, 0.3) 40%, rgba(198, 255, 211, 0.1));
            
            .box {
                position:absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 100%;

                .reverse {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    font-size: 0.95rem;
                    width: 10rem;
                    height: 10rem;
                    max-width: 17rem;
                    transition: transform 1.5s cubic-bezier(.75,0,.25,1);
                    border-radius: 100%;
                    background: root.$color-white url('../img/ico-hifive.png') 50% 30% no-repeat;
                    background-size: 5.5rem;
                    position: relative;
                    padding-bottom: 20%;
                    box-shadow: 0 0 2rem rgba(182,200,239,0.7);
                    border: 2px solid rgb(182,200,239);
                }

                &.circle02 {
                    top: 75%; 
                    left: 6.66%;

                    .reverse {
                        background-image: url('../img/ico-clock.png');
                        background-position-x: 40%;
                        box-shadow: 0 0 2rem rgba(241, 205, 253, 0.7);
                        border: 2px solid rgb(241, 205, 253);
                    }
                }
                &.circle03 {
                    top: 75%; 
                    left: 93%;

                    .reverse {
                        background-image: url('../img/ico-solve.png');
                        box-shadow: 0 0 2rem rgba(192, 238, 211, .6);
                        border: 2px solid rgb(192, 238, 211);
                    }
                }
            }
        }

        .text-wrap {
            text-align: center;
            padding:5rem 1.5rem 4rem;

            .desc {
                font-size: 1rem;
                line-height: 1.5;
                opacity: .6;
            }
            .title {
                font-size: 1.5rem;
                margin: 0.8rem 0 0;
            }
        }

        .points-list {
            padding-top: 2rem;
            text-align: left;
            line-height: 1.6;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

            .pin-li {
                background: root.$color-white;
                font-size: 1.15rem;
                padding: 1.2rem;
                background: root.$color-white;
                border-radius: 1.2rem;
                box-shadow: 0 0 2rem rgba(0,0,0,0.1);
            }
        }
    }

    .box-group {
        padding: 3rem 0 4rem;
        text-align: center;

        .desc {
            font-size: 1rem;
            &>span {color: #999;}
        }

        .title {
            font-size: 1.5rem;
            margin: 0.8rem 0 0;
        }
        
        .slide-wrap {
            overflow: hidden;
            display: flex;
            justify-content: center;
            padding: 6rem 0;
            margin-top: -4rem;
        }

        .box-slide {
            overflow: visible;
            display: flex;
            justify-content: center;
            width: 42.5rem;

            .swiper-slide {
                overflow: visible;
                padding: 0 0.8rem;
                width: 20rem;

                &.swiper-slide-active {z-index: 2;}
            }

            .box-inner {
                text-align: left;
                padding: 1rem;
                background: root.$color-white;
                min-height: 200px;
                border-radius: 1.8rem;
                box-shadow: 0 0 6rem rgba(241, 205, 253, 0.5);

                &.shadow-type1 {box-shadow: 0 0 6rem rgba(192, 238, 211, .5);}
                &.shadow-type2 {box-shadow: 0 0 6rem rgba(182,200,239,0.2);}

                .ico {
                    display: inline-block;
                    width: 6rem;
                    margin-top: -0.5rem;

                    img {width: 100%;}
                }
                .label-line {
                    display: inline-block;
                    padding: 0 0.5rem;
                    font-size: 0.9rem;
                    border-radius: 100rem;
                    background: #c6ffd3;
                    height: 1rem;
                    line-height: 1rem;
                }
                .title {
                    font-size: 1rem;
                    margin: 1rem 0 0;
                    font-weight: root.$font-bold;
                }
                .desc {
                    margin-top: 0.5rem;
                    font-size: 0.9rem;
                    line-height: 1.4;
                }
            }
        }

        .box-list { display: none; }
    }

    .pin-wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;

        .boxs {
            position: absolute;
            @include mixin.pos-center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 2rem 1.5rem;
            overflow: hidden;

            &::before {
                position: absolute;
                content: '';
                left: -250%;
                top: -250%;
                width: 800%;
                height: 800%;
                z-index: -1;
                background: linear-gradient(38deg, #b8cfff 20%, #eed9ff 33%, #c6ffd3 90%);
                animation: pinbgani 3s linear infinite;
            }

            @keyframes pinbgani {
                0% {
                    transform: rotate(0)
                }
            
                10% {
                    transform: rotate(36deg)
                }
            
                20% {
                    transform: rotate(72deg)
                }
            
                30% {
                    transform: rotate(108deg)
                }
            
                40% {
                    transform: rotate(144deg)
                }
            
                50% {
                    transform: rotate(180deg)
                }
            
                60% {
                    transform: rotate(216deg)
                }
            
                70% {
                    transform: rotate(252deg)
                }
            
                80% {
                    transform: rotate(288deg)
                }
            
                90% {
                    transform: rotate(324deg)
                }
            
                to {
                    transform: rotate(360deg)
                }
            }

            &.box1 {
                font-size: 2.3rem;
                font-weight: root.$font-bold;
                text-align: center;
                line-height: 2;
            }
            &.box2 {
                font-size: 1.15rem;
                text-align: center;
                line-height: 2.5;

                .ico-box {
                    display: inline-block;
                    height: 2.5rem;
                    line-height: 2.3rem;
                    padding: 0 1.2rem;
                    border-radius: 100rem;
                    background: root.$color-white;
                    border: 1px solid rgba(247, 247, 247, 1);
                    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.09) inset;
                    .ico {
                        display: inline-block;
                        width: 1.4rem;
                        height: 1.4rem;
                        vertical-align: -0.3rem;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .career-slide {
        width: 20rem;
        height:25rem;

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            font-size: 22px;
            font-weight: bold;
            background: root.$color-white;
            box-shadow: 0 0 2rem rgba(0,0,0,0.2);
        }
    }

}

//layout
.footer {
    position: fixed;
    @include mixin.pos-x-center;
    bottom: 1.5rem;
    z-index: 100;
    max-width: 16rem;
    width: 100%;

    .quick-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.3rem 0.5rem;
        border-radius: 100rem;
        backdrop-filter: blur(7px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
        border: 1px solid rgba(0, 0, 0, 0.05);
        background: rgba(255,255,255,.05);

        & > li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
            background: root.$color-white;
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
            border: 1px solid rgba(0, 0, 0, 0.05);

            img {
                width: 1.65rem;
            }
        }
    }
}

//tablet
@include mixin.tablet {
    .main-contents {
        .top-slogan {
            padding: 5rem 2.5rem;
    
            .title {
                font-size: 2.4rem;
                margin-bottom: 1.5rem;
                letter-spacing: -0.25rem;
            }
        }
    
        .box-group {
            padding: 2.5rem 0 4rem;
    
            .desc {
                font-size: 1.4rem;
            }
    
            .title {
                font-size: 1.95rem;
                margin: 1rem 0 0;
            }
            
            .slide-wrap {
                padding: 7.5rem 0;
            }
    
            .box-slide {
                display: none;
            }

            .box-list {
                display: flex;
                padding: 0 2.5rem;
                gap: 1.5rem;

                .box-inner {
                    text-align: left;
                    padding: 1.5rem;
                    min-height: 250px;
                    border-radius: 1.8rem;
                    max-width: 15.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    box-shadow: 0 0 2.5rem rgba(241, 205, 253, 0.5);
    
                    &.shadow-type1 {box-shadow: 0 0 2.5rem rgba(192, 238, 211, .5);}
                    &.shadow-type2 {box-shadow: 0 0 2.5rem rgba(182,200,239,0.5);}
    
                    .ico {
                        display: inline-block;
                        width: 7rem;
                        margin-top: -1rem;
    
                        img {width: 100%;}
                    }
                    .label-line {
                        display: inline-block;
                        padding: 0 1rem;
                        font-size: 1.1rem;
                        border-radius: 100rem;
                        background: #c6ffd3;
                        height: 1.3rem;
                        line-height: 1.4rem;
                    }
                    .title {
                        font-size: 1.3rem;
                        margin: 1.3rem 0 0;
                        font-weight: root.$font-bold;
                    }
                    .desc {
                        margin-top: 1rem;
                        font-size: 1.1rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    
        .intro-wrap {
            padding: 2.8rem 0 6rem;
    
            .circle-wrap {
                width: 18rem;
                height: 18rem;
            }
    
            .inner-box {
                .box {
                    .reverse {
                        width: 6.4rem;
                        height: 6.4rem;
                        max-width: 14rem;
                    }
                }
            }
    
            .text-wrap {
                padding:5rem 1.5rem 4rem;
    
                .title {
                    font-size: 2.4rem;
                    line-height: 1.2;
                    margin-bottom: 1.3rem;
                }
    
                .desc {
                    font-size: 1.5rem;
                }
            }
        }
    
        .pin-wrap {
            .boxs {
                padding: 3rem 2.5rem;
    
                &.box1 {
                    font-size: 2.8rem;
                }
                &.box2 {
                    font-size: 1.3rem;
                    text-align: center;
                    line-height: 2.3;
                }
            }
        }
    
    }
    
    //layout
    .footer {
        max-width: 18.5rem;
    
        .quick-list {
            padding: 0.5rem 0.8rem;
    
            & > li {
                width: 4rem;
                height: 4rem;
    
                img {
                    width: 1.7rem;
                }
            }
        }
    }
  }

  //desktop
@include mixin.desktop {
    .main-contents {
        background: #f2f2f2;
        .inner-wrap {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            height: 100vh;
            overflow: hidden;
            padding: 15px;

            .side-contents {
                display: block;
                width: 70px;
                border-radius: 100px;
                background: root.$color-white;
            }

            .contents-inner {
                max-width: 780px;
                margin: 0 auto;
            }

            .contents {
                width: calc(100% - 85px);
                height: 100%;
                background: root.$color-white;
                border-radius: 40px;
                overflow-y: scroll;
            }
        }
    }

    .footer {
        position: static;
        transform: none !important;
        width: 70px;
        max-width: none;
        background: root.$color-white;
        border-radius: 100px;

        .quick-list {
            backdrop-filter: none;
            flex-direction: column;
            border-radius: 0;
            box-shadow: none;
            padding: 15px 0;
            border: 0;

            & > li {
                width: 55px;
                height: 55px;
                border: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }
}