.main-contents {
  position: relative;
}
.main-contents .side-contents {
  display: none;
}
.main-contents .top-slogan {
  padding: 5rem 1.5rem;
  line-height: 1.5;
}
.main-contents .top-slogan .title {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.main-contents .top-slogan .desc {
  font-size: 1.2rem;
}
.main-contents .box-group {
  padding: 3rem 0 4rem;
  text-align: center;
}
.main-contents .box-group .desc {
  font-size: 1rem;
}
.main-contents .box-group .desc > span {
  color: #999;
}
.main-contents .box-group .title {
  font-size: 1.5rem;
  margin: 0.8rem 0 0;
}
.main-contents .box-group .slide-wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  margin-top: -4rem;
}
.main-contents .box-group .box-slide {
  overflow: visible;
  display: flex;
  justify-content: center;
  width: 42.5rem;
}
.main-contents .box-group .box-slide .swiper-slide {
  overflow: visible;
  padding: 0 0.8rem;
  width: 20rem;
}
.main-contents .box-group .box-slide .swiper-slide.swiper-slide-active {
  z-index: 2;
}
.main-contents .box-group .box-slide .box-inner {
  text-align: left;
  padding: 1rem;
  background: #fff;
  min-height: 200px;
  border-radius: 1.8rem;
  box-shadow: 0 0 6rem rgba(241, 205, 253, 0.5);
}
.main-contents .box-group .box-slide .box-inner.shadow-type1 {
  box-shadow: 0 0 6rem rgba(192, 238, 211, 0.5);
}
.main-contents .box-group .box-slide .box-inner.shadow-type2 {
  box-shadow: 0 0 6rem rgba(182, 200, 239, 0.2);
}
.main-contents .box-group .box-slide .box-inner .ico {
  display: inline-block;
  width: 6rem;
  margin-top: -0.5rem;
}
.main-contents .box-group .box-slide .box-inner .ico img {
  width: 100%;
}
.main-contents .box-group .box-slide .box-inner .label-line {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  border-radius: 100rem;
  background: #c6ffd3;
  height: 1rem;
  line-height: 1rem;
}
.main-contents .box-group .box-slide .box-inner .title {
  font-size: 1rem;
  margin: 1rem 0 0;
  font-weight: 700;
}
.main-contents .box-group .box-slide .box-inner .desc {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.4;
}
.main-contents .box-group .box-list {
  display: none;
}
.main-contents .intro-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 6rem;
  overflow: hidden;
}
.main-contents .intro-wrap .circle-wrap {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  background: #eee;
  position: relative;
}
.main-contents .intro-wrap .inner-box {
  width: 100%;
  height: 100%;
  transition: transform 1.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.main-contents .intro-wrap .inner-box .box {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  overflow: hidden;
}
.main-contents .intro-wrap .inner-box .box .reverse {
  width: 6rem;
  height: 6rem;
  max-width: 17rem;
  transition: transform 1.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.main-contents .intro-wrap .inner-box .box.circle02 {
  top: 75%;
  left: 6.66%;
}
.main-contents .intro-wrap .inner-box .box.circle03 {
  top: 75%;
  left: 93%;
}
.main-contents .intro-wrap .text-wrap {
  text-align: center;
  padding: 5rem 1.5rem 4rem;
}
.main-contents .intro-wrap .text-wrap .title {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}
.main-contents .intro-wrap .text-wrap .desc {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0.6;
}
.main-contents .pin-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.main-contents .pin-wrap .boxs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}
.main-contents .pin-wrap .boxs::before {
  position: absolute;
  content: "";
  left: -250%;
  top: -250%;
  width: 800%;
  height: 800%;
  z-index: -1;
  background: linear-gradient(38deg, #b8cfff 20%, #eed9ff 33%, #c6ffd3 90%);
  animation: pinbgani 3s linear infinite;
}
@keyframes pinbgani {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-contents .pin-wrap .boxs.box1 {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 2;
}
.main-contents .pin-wrap .boxs.box2 {
  font-size: 1.15rem;
  text-align: center;
  line-height: 2.5;
}
.main-contents .pin-wrap .boxs.box2 .ico-box {
  display: inline-block;
  height: 2.5rem;
  line-height: 2.3rem;
  padding: 0 1.2rem;
  border-radius: 100rem;
  background: #fff;
  border: 1px solid rgb(247, 247, 247);
  box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.09) inset;
}
.main-contents .pin-wrap .boxs.box2 .ico-box .ico {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: -0.3rem;
}
.main-contents .pin-wrap .boxs.box2 .ico-box .ico img {
  width: 100%;
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  z-index: 100;
  max-width: 16rem;
  width: 100%;
}
.footer .quick-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 100rem;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.05);
}
.footer .quick-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.footer .quick-list > li img {
  width: 1.65rem;
}

@media screen and (min-width: 768px) {
  .main-contents .top-slogan {
    padding: 5rem 2.5rem;
  }
  .main-contents .top-slogan .title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.25rem;
  }
  .main-contents .top-slogan .desc {
    font-size: 1.35rem;
  }
  .main-contents .box-group {
    padding: 2.5rem 0 4rem;
  }
  .main-contents .box-group .desc {
    font-size: 1.4rem;
  }
  .main-contents .box-group .title {
    font-size: 1.95rem;
    margin: 1rem 0 0;
  }
  .main-contents .box-group .slide-wrap {
    padding: 7.5rem 0;
  }
  .main-contents .box-group .box-slide {
    display: none;
  }
  .main-contents .box-group .box-list {
    display: flex;
    padding: 0 2.5rem;
    gap: 1.5rem;
  }
  .main-contents .box-group .box-list .box-inner {
    text-align: left;
    padding: 1.5rem;
    min-height: 250px;
    border-radius: 1.8rem;
    max-width: 15.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 2.5rem rgba(241, 205, 253, 0.5);
  }
  .main-contents .box-group .box-list .box-inner.shadow-type1 {
    box-shadow: 0 0 2.5rem rgba(192, 238, 211, 0.5);
  }
  .main-contents .box-group .box-list .box-inner.shadow-type2 {
    box-shadow: 0 0 2.5rem rgba(182, 200, 239, 0.5);
  }
  .main-contents .box-group .box-list .box-inner .ico {
    display: inline-block;
    width: 7rem;
    margin-top: -1rem;
  }
  .main-contents .box-group .box-list .box-inner .ico img {
    width: 100%;
  }
  .main-contents .box-group .box-list .box-inner .label-line {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.1rem;
    border-radius: 100rem;
    background: #c6ffd3;
    height: 1.3rem;
    line-height: 1.4rem;
  }
  .main-contents .box-group .box-list .box-inner .title {
    font-size: 1.3rem;
    margin: 1.3rem 0 0;
    font-weight: 700;
  }
  .main-contents .box-group .box-list .box-inner .desc {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .main-contents .intro-wrap {
    padding: 2.8rem 0 6rem;
  }
  .main-contents .intro-wrap .circle-wrap {
    width: 18rem;
    height: 18rem;
  }
  .main-contents .intro-wrap .inner-box .box .reverse {
    width: 6.4rem;
    height: 6.4rem;
    max-width: 14rem;
  }
  .main-contents .intro-wrap .text-wrap {
    padding: 5rem 1.5rem 4rem;
  }
  .main-contents .intro-wrap .text-wrap .title {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 1.3rem;
  }
  .main-contents .intro-wrap .text-wrap .desc {
    font-size: 1.5rem;
  }
  .main-contents .pin-wrap .boxs {
    padding: 3rem 2.5rem;
  }
  .main-contents .pin-wrap .boxs.box1 {
    font-size: 2.8rem;
  }
  .main-contents .pin-wrap .boxs.box2 {
    font-size: 1.3rem;
    text-align: center;
    line-height: 2.3;
  }
  .footer {
    max-width: 18.5rem;
  }
  .footer .quick-list {
    padding: 0.5rem 0.8rem;
  }
  .footer .quick-list > li {
    width: 4rem;
    height: 4rem;
  }
  .footer .quick-list > li img {
    width: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-contents {
    background: #f2f2f2;
  }
  .main-contents .inner-wrap {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
    padding: 15px;
  }
  .main-contents .inner-wrap .side-contents {
    display: block;
    width: 70px;
    border-radius: 100px;
    background: #fff;
  }
  .main-contents .inner-wrap .contents-inner {
    max-width: 780px;
    margin: 0 auto;
  }
  .main-contents .inner-wrap .contents {
    width: calc(100% - 85px);
    height: 100%;
    background: #fff;
    border-radius: 40px;
    overflow-y: scroll;
  }
  .footer {
    position: static;
    transform: none !important;
    width: 70px;
    max-width: none;
    background: #fff;
    border-radius: 100px;
  }
  .footer .quick-list {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
    padding: 15px 0;
    border: 0;
  }
  .footer .quick-list > li {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}/*# sourceMappingURL=main.css.map */