@use 'root';
@use 'mixin';

//main
.main-contents {
    position: relative;

    .side-contents {
        display: none;
    }

    .top-slogan {
        padding: 5rem 1.5rem;
        line-height: 1.5;

        .title {
            font-size: 1.9rem;
            margin-bottom: 2rem;
        }
        .desc {
            font-size: 1.2rem;
        }
    }

    .box-group {
        padding: 3rem 0 4rem;
        text-align: center;

        .desc {
            font-size: 1rem;
            &>span {color: #999;}
        }

        .title {
            font-size: 1.5rem;
            margin: 0.8rem 0 0;
        }
        
        .slide-wrap {
            overflow: hidden;
            display: flex;
            justify-content: center;
            padding: 6rem 0;
            margin-top: -4rem;
        }

        .box-slide {
            overflow: visible;
            display: flex;
            justify-content: center;
            width: 42.5rem;

            .swiper-slide {
                overflow: visible;
                padding: 0 0.8rem;
                width: 20rem;

                &.swiper-slide-active {z-index: 2;}
            }

            .box-inner {
                text-align: left;
                padding: 1rem;
                background: root.$color-white;
                min-height: 200px;
                border-radius: 1.8rem;
                box-shadow: 0 0 6rem rgba(241, 205, 253, 0.5);

                &.shadow-type1 {box-shadow: 0 0 6rem rgba(192, 238, 211, .5);}
                &.shadow-type2 {box-shadow: 0 0 6rem rgba(182,200,239,0.2);}

                .ico {
                    display: inline-block;
                    width: 6rem;
                    margin-top: -0.5rem;

                    img {width: 100%;}
                }
                .label-line {
                    display: inline-block;
                    padding: 0 0.5rem;
                    font-size: 0.9rem;
                    border-radius: 100rem;
                    background: #c6ffd3;
                    height: 1rem;
                    line-height: 1rem;
                }
                .title {
                    font-size: 1rem;
                    margin: 1rem 0 0;
                    font-weight: root.$font-bold;
                }
                .desc {
                    margin-top: 0.5rem;
                    font-size: 0.9rem;
                    line-height: 1.4;
                }
            }
        }
    }

    .about-wrap {
        position: relative;
        overflow: hidden;

        .text-wrap {
            position: absolute;
        }

        .list-wrap {
            width: 400%;
            display: flex;
            flex-wrap: nowrap;

            .list {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 100vh;
                font-size: 100px;
                text-align: center;
                background: root.$color-white;
                z-index: 1;
            }
        }
    }

    .intro-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0 6rem;

        .circle-wrap {
            width: 15rem;
            height: 15rem;
            border-radius: 100%;
            background: #eee;
            position: relative;
        }

        .inner-box {
            width: 100%;
            height: 100%;
            transition: transform 1.5s cubic-bezier(.75,0,.25,1);
            
            .box {
                position:absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
                overflow: hidden;

                .reverse {
                    width: 6rem;
                    height: 6rem;
                    max-width: 17rem;
                    transition: transform 1.5s cubic-bezier(.75,0,.25,1);
                }
                &.circle02 {top: 75%; left: 6.66%;}
                &.circle03 {top: 75%; left: 93%;}
            }
        }

        .text-wrap {
            text-align: center;
            padding:5rem 1.5rem 4rem;

            .title {
                font-size: 2rem;
                line-height: 1.4;
                margin-bottom: 1.2rem;
            }

            .desc {
                font-size: 1.2rem;
                line-height: 1.5;
                opacity: .6;
            }
        }
    }

    .pin-wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;

        .boxs {
            position: absolute;
            @include mixin.pos-center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 2rem 1.5rem;
            overflow: hidden;

            &::before {
                position: absolute;
                content: '';
                left: -250%;
                top: -250%;
                width: 800%;
                height: 800%;
                z-index: -1;
                background: linear-gradient(38deg, #b8cfff 20%, #eed9ff 33%, #c6ffd3 90%);
                animation: pinbgani 3s linear infinite;
            }

            @keyframes pinbgani {
                0% {
                    transform: rotate(0)
                }
            
                10% {
                    transform: rotate(36deg)
                }
            
                20% {
                    transform: rotate(72deg)
                }
            
                30% {
                    transform: rotate(108deg)
                }
            
                40% {
                    transform: rotate(144deg)
                }
            
                50% {
                    transform: rotate(180deg)
                }
            
                60% {
                    transform: rotate(216deg)
                }
            
                70% {
                    transform: rotate(252deg)
                }
            
                80% {
                    transform: rotate(288deg)
                }
            
                90% {
                    transform: rotate(324deg)
                }
            
                to {
                    transform: rotate(360deg)
                }
            }

            &.box1 {
                font-size: 2.3rem;
                font-weight: root.$font-bold;
                text-align: center;
                line-height: 2;
            }
            &.box2 {
                font-size: 1.15rem;
                text-align: center;
                line-height: 2.5;

                .ico-box {
                    display: inline-block;
                    height: 2.5rem;
                    line-height: 2.3rem;
                    padding: 0 1.2rem;
                    border-radius: 100rem;
                    background: root.$color-white;
                    border: 1px solid rgba(247, 247, 247, 1);
                    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.09) inset;
                    .ico {
                        display: inline-block;
                        width: 1.4rem;
                        height: 1.4rem;
                        vertical-align: -0.3rem;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}

//layout
.footer {
    position: fixed;
    @include mixin.pos-x-center;
    bottom: 1.5rem;
    z-index: 100;
    max-width: 16rem;
    width: 100%;

    .quick-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.3rem 0.5rem;
        border-radius: 100rem;
        backdrop-filter: blur(7px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,.05);
        background: rgba(255,255,255,.05);

        & > li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
            background: root.$color-white;
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
            border: 1px solid rgba(255,255,255,.05);

            img {
                width: 1.65rem;
            }
        }
    }
}